{%extends 'base.html'%}
{%load static%}
{%block body%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="{%url 'crud:index'%}">Home</a><body>
    <a href="{%url 'crud:create'%}">Create</a>
    <a href="{%url 'crud:contacts'%}">Contact Us</a>
    <h1>This is simon here.</h1>
    <ul style="list-style-type: circle">
      {%for blog in blogs%}
      <li>
        <a href="{%url 'particular' blog.id%}">
          <h2>{{blog.title}}</h2>
        </a>
      </li>
      <h3>{{blog.description}}</h3>
      {%endfor%}
    </ul>
    {%if blog%}
    <h1>{{blog.title}}</h1>
    <h2>{{blog.description}}</h2>
    <a href="{%url 'crud:delete' blog.id%}">
      <button type="sumbit">Delete</button>
    </a>
    <a href="{%url 'crud:update' blog.id%}">
      <button type="sumbit">Update</button>
    </a>
  </body>
  <style>
    body {
      background-color: #000;
      color: #fff;
    }
  </style>
    {%endif%}
{%endblock%}

