{%extends 'base.html'%}
{%load static%}
{%block body%}
<header class="masthead" style="background-image: url({%static 'assets/img/contact-bg.jpg'%})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>SIGNUP</h1>
                    <span class="Password">Welcome Back to Simon's Blog</span>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    <form id="loginform" method="post" data-sb-form-api-token="API_TOKEN">
                        {%csrf_token%}
                        <div class="form-floating">
                            <input class="form-control" id="email" type="text" placeholder="Enter your email..."
                                data-sb-validations="required" name="email" />
                            <label for="email">Email</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">
                                A email is required.
                            </div>
                        </div>

                        <div class="form-floating">
                            <input class="form-control" id="firstName" type="text" placeholder="Simon"
                                data-sb-validations="required" name="firstName" />
                            <label for="firstName">First Name</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">
                                A First Name is required.
                            </div>
                        </div>

                        <div class="form-floating">
                            <input class="form-control" id="lastName" type="text" placeholder="Pradhananga"
                                data-sb-validations="required" name="lastName" />
                            <label for="lastName">Last Name</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">
                                A Last Name is required.
                            </div>
                        </div>

                        <div class="form-floating">
                            <input class="form-control" id="phoneNumber" type="number" placeholder="XXXX-XXX-XXX"
                                data-sb-validations="required" name="email" />
                            <label for="phoneNumber">Phone Number</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">
                                A email is required.
                            </div>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="password" type="text" placeholder="Password..."
                                data-sb-validations="required" name="Password" />
                            <label for="Password">Password</label>
                            <div class="invalid-feedback" data-sb-feedback="Password:required">
                                Password is required.
                            </div>

                            <div class="form-floating">
                                <input class="form-control" id="confirmPassword" type="text" placeholder="Password..."
                                    data-sb-validations="required" name="Password" />
                                <label for="Password">Confirm Password</label>
                                <div class="invalid-feedback" data-sb-feedback="Password:required">
                                    Password is required.
                                </div>
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br />
                                        <a
                                            href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <div class="d-none" id="submitErrorMessage">
                                    <div class="text-center text-danger mb-3">
                                        Error sending message!
                                    </div>
                                </div>
                                <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase" id="submit" type="submit">
                                    Login
                                </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<style>
    button {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-left: 40%;
    }
</style>
{%endblock%}